.singleColumnTextBlock {
    margin: 150px 0;
    @media only screen and (max-width: 1200px) {
        margin: 100px 0;
    }
    @media only screen and (max-width: 767px) {
        margin: 60px 0;
    }
    .site-container {
        .subtext {
            h1, h2, h3 {
                margin-bottom: 1em;
            }
            h6 {
                @include fluid-type(20px, 23px, 500px, 1440px);
            }
            max-width: 1091px;
            a {
                font-weight: 500;
            }
            ul {
                padding-left: 15px;

            }
            li {
                margin-bottom: 5px;
                &::before {
                    content: "";
                    display: block;
                    width: 6px;
                    height: 6px;
                    min-width: 4px;
                    min-height: 4px;
                    background-color: $orange;
                    margin-right: 8px;
                    border-radius: 50%;
                    left: -15px;
                    margin-top: 5px;
                }
            }
        }
    }
}