{% set linkLabel = link.title %}
{% set singleLink = link.navLink.one() %}
{% set submenu = link.submenu %}
{% set itemClass = 'menu-item' %}
{% set isActive = craft.app.request.segments|join('/') == singleLink.url|replace({(siteUrl): ''})|trim('/') %}

{% if submenu.count() != 0 %}
    {% set itemClass = itemClass ~ ' menu-item--has-submenu' %}
    {% for subLink in submenu %}
        {% set subSingleLink = subLink.navLink.one() %}
        {% if craft.app.request.segments|join('/') == subSingleLink.url|replace({(siteUrl): ''})|trim('/') %}
            {% set isActive = true %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if isActive %}
    {% set itemClass = itemClass ~ ' menu-item--active' %}
{% endif %}

<li class="{{ itemClass }}">
    <a href="{{ singleLink.url }}">{{ linkLabel }}</a>
    {% if submenu.count() != 0 %}
        <ul class="submenu">
            {% for link in submenu %}
                {% include '_partials/components/_nav-link' with {
                    data: link
                } %}
            {% endfor %}
        </ul>
    {% endif %}
</li>