{% set className = singleBlock.type %}
{% set blockId = singleBlock.type ~ '-' ~ singleBlock.id %}

<section id="{{ blockId }}" class="{{ className }}">
    <div class="site-container">

    </div>
</section>