{% set className = singleBlock.type %}
{% set blockId = singleBlock.type ~ '-' ~ singleBlock.id %}

{% set heading = singleBlock.heading %}
{% set subtext = singleBlock.subtext %}
{% set cards = singleBlock.equipmentCards %}

<section id="{{ blockId }}" class="{{ className }}">
    <div class="site-container">
        <div class="text-container">
            {% if heading %}
                <div class="heading-container split-text">
                    {{ heading }}
                </div>
            {% endif %}
            {% if subtext %}
                <div class="subtext">
                    {{ subtext }}
                </div>
            {% endif %}
        </div>
        <div class="cards-container">
            {% for card in cards %}
                {% set backgroundImage = card.backgroundImage.one() %}
                {% set link = card.singleLink %}
                {% set logo = card.logo.one() %}

                <div class="card">  
                    <div class="background-container">
                        {% include '_partials/components/_imageVideo.twig' with { 
                            media: backgroundImage 
                        } %}
                    </div>
                    <div class="text-container">
                        <div class="logo-container">
                            {% include '_partials/components/_imageVideo.twig' with {
                                media: logo
                            } %}
                        </div>
                        {% include '_partials/components/_button.twig' with {
                            button: link,
                            buttonClasses: 'btn btn-arrow'
                        } %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>