.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px 20px;
    border-radius: 5px;
    background-color: $dark-blue;
    color: $theme-white;
    width: fit-content;
    height: fit-content;
    @include fluid-type(14px, 18px, 500px, 1920px);
    line-height: 1.1;
    font-weight: 500;
    min-width: 172px;
    cursor: pointer;
    border: solid 2px $dark-blue;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    text-decoration: unset;
    @media only screen and (max-width: 767px) {
        padding: 9px 15px;
    }
    &:hover {
        background-color: $light-blue
    }
    &-border {
        border: solid 1px $theme-white;
        background-color: rgba($dark-blue, 0);
        color: $dark-blue;
        &:hover {
            background-color: $light-blue;
            color: $theme-white;
            border-color: $light-blue;
        }
        &--white {
            border: solid 2px $theme-white;
            color: $theme-white;
            background-color: rgba($white, 0);
        }
        &--orange {
            border: solid 2px $orange;
        }
    }
    &-arrow {
        padding: unset;
        position: relative;
        border: unset;
        background-color: unset;
        color: $white;
        justify-content: flex-start;

        &::before {
            content: '';
            display: block;
            width: 42px;
            height: 42px;
            min-width: 42px;
            min-height: 42px;
            border-radius: 5px;
            border: solid 1px $orange;
            transition: background-color 0.3s ease-in-out;
            background-color: rgba($orange, 0);
            margin-right: 13px;
        }
        &:after {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            min-width: 16px;
            min-height: 16px;
            left: 22px;
            top: 22px;
            position: absolute;
            transform: translate(-50%, -50%);
            mask-image: url('../icons/arrow.svg');
            mask-size: contain;
            mask-repeat: no-repeat;
            background-color: currentColor;
        }
        &:hover {
            background-color: unset;
            &::before {
                background-color: $orange;
            }
            &:after {
            }
        }
    }
}