{% extends '_layout' %}

{% block title %}404 - Page Not Found | {{ siteName }}{% endblock %}

{% block content %}
    <div class="error-page">
        <div class="site-container">
            <div class="error-content">
                <h1 class="heading"><strong>404</h1>
                <h2 class="subtext lg">Page not found or may have been removed</h2>
                <a href="{{ siteUrl }}" class="btn">Back to home</a>
            </div>
        </div>
    </div>
{% endblock %}
